[submodule "host-wamr/wasm-micro-runtime"]
	path = host-wamr/wasm-micro-runtime
	url = https://github.com/bytecodealliance/wasm-micro-runtime.git
[submodule "wit-bindgen"]
	path = wit-bindgen
	url = https://github.com/cpetig/wit-bindgen.git
	branch = main
